/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,100&display=swap');

/* whole document */
* {
    
    box-sizing: border-box;
}






/*Focus states  */


input:focus{
    transition: 1s;
    border-bottom: pink 5px solid;
    background: lightblue;
}

/* Section styles */

header{
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: center;
}

main{
    background-color:white;
    padding: 1em;
}

body{
    background-color: #2e2e2e;
    font-family: 'Roboto Mono', monospace;
}

footer{
    color: grey;
}



/* Text styling */



.main-title{
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    color: #36577D;
}


.site-name{
    font-size: 2em;   
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #c3073f;
    padding-bottom: 0.1em;
    border-bottom: #c3073f 5px dotted;
    
}






/* prevents text area width from being extended */
textarea[name=feedback] {
    resize: vertical;
  }



/* makes thankyou message appear after form submit*/
#thankyou {
   display: none;
  }

 #thankyou:target {
   display: block;
  }